@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Poppins','Nanum Gothic', sans-serif;
}

.small_title p{
	font-size: 50px;
	color: #353535;
	font-family: 'Nanum Gothic';
	margin: 30px 50px;
	width: 90%;
	font-weight: 600;
  margin-bottom: 10px;
}

.title .center2 {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	
}

.title .center2 h1{
	font-size: 100px;
	color: white;
	text-shadow: 4px 2px 2px gray;
	          
}

.wrapper ul{
  width: 300px;
  list-style: none;
  padding: 10px;
  transition: all 0.3s ease;
}
.wrapper ul li{
  line-height: 55px;
}
.wrapper ul li a{
  position: relative;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 0 10px;
  display: flex;
  border-radius: 8px;
  align-items: center;
  text-decoration: none;
}
.wrapper ul li:hover a{
  background: #4d4e4f;
}
ul li a .icon{
  height: 40px;
  width: 40px;
  margin-right: 13px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
}
ul li a .icon span{
  line-height: 40px;
  font-size: 20px;
  color: #b0b3b8;
}
ul li a i{
  position: absolute;
  right: 10px;
  font-size: 25px;
  pointer-events: none;
}
.wrapper ul.setting-drop,
.wrapper ul.help-drop{
  display: none;
}
.wrapper .arrow{
  padding-left: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #b0b3b8;
  cursor: pointer;
}
.wrapper .arrow span{
  margin-right: 15px;
}


.container{
  max-width: 80%;
  padding: 10px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}


.title{
  background-color: skyblue;
  display: flex;
  color: #fff;
  padding: 20px;
  cursor: pointer;
  left: 100px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  justify-content: space-between;
}

.icon{
  position: relative;
  width: 14px;
}

.icon::before, .icon::after{
  content: "";
  position: absolute;
  width: 14px;
  height: 3px;
  background-color: #fff;
  top: -1.5px;
}

.icon::after{
  transform: rotate(90deg);
  transition: .5s linear;
}

.text{
  background-color: #ffffff60;
  color: #393939;
  line-height: 150px;
  margin: 6px 0;
  opacity: 0;
  height: 0;
}

.item:target .text{
  height: auto;
  opacity: 1;
  padding: 20px;
  margin: 12px 0;
}

.item:target .icon::after{
  transform: rotate(0);
}

@media screen and (max-width:960px){
  .container{
    max-width: 600px;
  }

 .image, .accordion-menu{
    width: 100%;
    margin: 20px 0;
  }
}

html,body{
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
  background: #f2f2f2;
}

body{
  background: url(cloud.png) no-repeat center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


nav{
  margin: 10px 10px;
}
nav .drop-btn{
  width: 400px;
  background: #242526;
  border-radius: 5px;
  line-height: 55px;
  font-size: 20px;
  font-weight: 500;
  color: #b0b3b8;
  padding: 0 20px;
}
nav .drop-btn span{
  float: right;
  line-height: 50px;
  font-size: 28px;
  cursor: pointer;
}
nav .tooltip{
  position: absolute;
  right: 20px;
  bottom: -20px;
  height: 15px;
  width: 15px;
  background: #242526;;
  transform: rotate(45deg);
  display: none;
}
nav .tooltip.show{
  display: block;
}
nav .wrapper{
  position: absolute;
  top: 65px;
  display: flex;
  width: 400px;
  overflow: hidden;
  border-radius: 5px;
  background: #242526;
  display: none;
  transition: all 0.3s ease;
}
nav .wrapper.show{
  display: block;
  display: flex;
}
.wrapper ul{
  width: 400px;
  list-style: none;
  padding: 10px;
  transition: all 0.3s ease;
}
.wrapper ul li{
  line-height: 55px;
}
.wrapper ul li a{
  position: relative;
  color: #b0b3b8;
  font-size: 18px;
  font-weight: 500;
  padding: 0 10px;
  display: flex;
  border-radius: 8px;
  align-items: center;
  text-decoration: none;
}
.wrapper ul li:hover a{
  background: #3A3B3C;
}
ul li a .icon{
  height: 40px;
  width: 40px;
  margin-right: 13px;
  background: #ffffff1a;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
}
ul li a .icon span{
  line-height: 40px;
  font-size: 20px;
  color: #b0b3b8;
}
ul li a i{
  position: absolute;
  right: 10px;
  font-size: 25px;
  pointer-events: none;
}
.wrapper ul.setting-drop,
.wrapper ul.help-drop{
  display: none;
}
.wrapper .arrow{
  padding-left: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #b0b3b8;
  cursor: pointer;
}
.wrapper .arrow span{
  margin-right: 15px;
}


.container .button{
    height: 40px;
    width: 80px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    background: #929292;
    border: 2px solid #929292;
    transition: all 0.3s ease;
    font-family: 'Nanum Gothic';
    padding: 0px 2px;
}

.container .button:hover {
  cursor:pointer;
}
